{% extends "::base.html.twig" %}


{% block content %}
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Messagerie <small>Messages réçus</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('siv_main_homepage') }}">Messagerie</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Messages réçus</a>
            </li>
        </ul>
        <div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp; <span class="uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->


    <div class="clearfix">
    </div>

    <div class="row inbox">

        {% include 'SIVMainBundle:includes:inbox_sidebar.html.twig' %}

        <div class="col-md-10">
            <div class="inbox-header">
                <h1 class="pull-left">Boîte de reception</h1>
                <form class="form-inline pull-right" action="index.html">
                    <div class="input-group input-medium">
                        <input type="text" class="form-control" placeholder="">
                        <span class="input-group-btn">
								<button type="submit" class="btn green"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="inbox-content">
    <form class="inbox-compose form-horizontal" id="fileupload" action="#" method="POST" enctype="multipart/form-data">
    <div class="inbox-compose-btn">
        <button class="btn blue"><i class="fa fa-check"></i>Envoyer</button>
    </div>
    <div class="inbox-form-group mail-to">
        <label class="control-label">A:</label>
        <div class="controls controls-to">
            <input type="text" class="form-control" name="to">
        </div>
    </div>

    <div class="inbox-form-group">
        <label class="control-label">Sujet:</label>
        <div class="controls">
            <input type="text" class="form-control" name="subject">
        </div>
    </div>
    <div class="inbox-form-group">
        <textarea class="inbox-editor inbox-wysihtml5 form-control" name="message" rows="12"></textarea>
    </div>
    <div class="inbox-compose-attachment">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <span class="btn green fileinput-button">
		<i class="fa fa-plus"></i>
		<span>
		Add files... </span>
		<input type="file" name="files[]" multiple>
		</span>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped margin-top-10">
            <tbody class="files">
            </tbody>
        </table>
    </div>

    <div class="inbox-compose-btn">
        <button class="btn blue"><i class="fa fa-check"></i>Envoyer</button>
    </div>
    </form>
            </div>
        </div>
    </div>





{% endblock %}


{% block styleplugins %}
    {% stylesheets filter="scssphp" output="css/messagestyleplugins.css"
    "assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css"
    "assets/global/plugins/fancybox/source/jquery.fancybox.css"
    "assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css"
    "assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css"
    "assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css"

    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- END PAGE LEVEL PLUGIN STYLES -->
{% endblock %}





{% block pagestyle %}
    {% stylesheets filter="scssphp" output="css/messagepagestyle.css"
    "assets/admin/pages/css/inbox.css"
    "assets/global/css/components-md.css"
    "assets/global/css/plugins-md.css"
    "assets/admin/layout/css/layout.css"
    "assets/admin/layout/css/themes/darkblue.css"
    "assets/admin/layout/css/custom.css"

    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- END PAGE STYLES -->
{% endblock %}

{% block pagepluginsjs %}
    {% javascripts filter="?jsqueeze" output="js/messagecoreplugins.js"
    "assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"
    "assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"
    "assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"
    "assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"
    "assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js"
    "assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js"
    "assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"
    "assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"
    "assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"
    "assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js"
    "assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js"
    "assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js"
    "assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"
    "assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js"
    "assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"
    "assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js"

    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="{{ absolute_url(asset('assets/global/plugins/jquery-file-upload/js/cors/jquery.xdr-transport.js')) }}"></script>
    <![endif]-->
{% endblock %}

{% block pagescripts %}
    {% javascripts filter="?jsqueeze" output="js/vpresents.js"
    "assets/global/scripts/metronic.js"
    "assets/admin/layout/scripts/layout.js"
    "assets/admin/layout/scripts/quick-sidebar.js"
    "assets/admin/layout/scripts/demo.js"
    "assets/admin/pages/scripts/inbox.js"
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}


{% block scripts %}
    <script>
        jQuery(document).ready(function() {

            // initiate layout and plugins
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Inbox.init();



        });
    </script>
{% endblock %}