{% extends "::base.html.twig" %}


{% block content %}
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Visiteurs <small>Historique des visiteurs</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('siv_main_homepage') }}">Visiteurs</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Historique</a>
            </li>
        </ul>
        <div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp; <span class="uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->


    <div class="clearfix">
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Liste des visiteurs ({{ visiteurs|length }})
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_1">
                        <thead>
                        <tr>
                            <th>
                                No Badge
                            </th>
                            <th>Etat</th>
                            <th>
                                Identité du visiteur
                            </th>
                            <th>
                                Date entrée
                            </th>
                            <th>
                                Date sortie
                            </th>
                            <th>
                                Type de visite
                            </th>
                            <th>
                                Hôte
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for key, val in visiteurs %}
                            <tr >
                                <td>{{ val.nobadge }} </td>
                                <td>
                                    <span class="{% if val.dateSortie == 'null' %} badge badge-success {% else %} badge badge-danger {% endif %} e">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </td>
                                <td>{{ val.prenom }} {{ val.nom }} - {{ val.societe }} <br>
                                    Tel: {{ val.telephone }}
                                </td>
                                <td>{{ val.dateEntree }} à {{ val.heureEntree }}</td>
                                <td>{% if val.dateSortie != "null" %} {{ val.dateSortie  }} à {{ val.heureSortie }} {% endif %}</td>
                                <td>{{ val.type }}</td>
                                <td>{{ val.hote.prenom }} {{ val.hote.nom }}</td>
                                <td>
                                    <a title="supprimer le visiteur"  href="" class="btn btn-icon-only red">
                                        <i class="fa fa-times"></i>
                                    </a>&nbsp;
                                    <a title="Voir/Modifier le visiteur"  href="{{ path('siv_main_visiteurs_edit', {'id': val.id}) }}" class="btn btn-icon-only green">
                                        <i class="fa fa-eye"></i>
                                    </a>&nbsp;
                                    <a title="Sortie du visiteur"  href="{{ path('siv_main_visiteurs_sortie', {'id': val.id}) }}" class="btn btn-icon-only blue">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->

        </div>
    </div>



{% endblock %}


{% block styleplugins %}
    {% stylesheets filter="scssphp" output="css/vpresentstyleplugins.css"
    "assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css"
    "assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css"
    "assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"

    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- END PAGE LEVEL PLUGIN STYLES -->
{% endblock %}





{% block pagestyle %}
    {% stylesheets filter="scssphp" output="css/vpresentpagestyle.css"
    "assets/admin/pages/css/tasks.css"

    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- END PAGE STYLES -->
{% endblock %}

{% block pagepluginsjs %}
    {% javascripts filter="?jsqueeze" output="js/vpresentcoreplugins.js"
    "assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"
    "assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"
    "assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"
    "assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"
    "assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block pagescripts %}
    {% javascripts filter="?jsqueeze" output="js/vpresents.js"
    "assets/global/scripts/metronic.js"
    "assets/admin/layout/scripts/layout.js"
    "assets/admin/layout/scripts/quick-sidebar.js"
    "assets/admin/layout/scripts/demo.js"
    "assets/admin/pages/scripts/table-advanced.js"
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}


{% block scripts %}
    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            TableAdvanced.init();
        });
    </script>
{% endblock %}